@model ML.Cliente
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Formulario</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Cliente</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.IdCliente, new { @class = "hidden" })
                            @Html.TextBoxFor(model => model.IdCliente, new { @class = "hidden form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.IdCliente)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Nombre)
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @onkeypress = "SoloLetras(event, 'lblNombre', 'txtNombre')" })
                            @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                            @Html.ActionLink("Regresar", "GetAll", "Cliente", htmlAttributes: new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>


            }


        </div>
    </div>
</div>


@section Scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


    <script type="text/javascript">

        function SoloLetras(e, idLabel, idTextbox) {
            var caracter = e.key;
            if (!/^[a-zA-Z]/g.test(caracter)) {
                $('#' + idTextbox).prop("disabled", true)
                $('#' + idLabel).text("Solo se aceptan letras");
                $('#' + idLabel).css({ "color": "red" });
                $('#' + idTextbox).css({ "border-color": "red", "background-color": "#f8d7da" });
                return false;
            }
            else {
                $('#' + idLabel).text("Correcto");
                $('#' + idLabel).css({ "color": "green" });
                $('#' + idTextbox).css({ "border-color": "green", "background-color": "#b6d79e" });

                return true;
            }
        }
    </script>
}
